<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>What Is My IP</title>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon" />
</head>
<body>
    <div id="wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3">

                    {% block body %} {% endblock %}

                </div>
            </div>
        </div>
    </div>
</body>
</html>